:root {
  --light-bg-color: #403a3a;
  --dark-bg-color: #272727;
  --header-button-color: #c4344b;
  --header-hovered-button-color: #aa273d;
  --text-color: white;
  --disabled-text-color: rgba(255, 255, 255, 0.59);
  --border-color: #727272;
  --light-border-color: rgba(208, 202, 197, 0.26);
  --light-code-area-color: #4e4747;
  --search-button-color: #e5e5e5;
  --main-font: "Red Hat Display";
  --code-font: "IBM Plex Sans";
  --modal-bg-color: rgba(0, 0, 0, 0.3);
  --horizontal-margin: 4.6rem;
}

@media screen and (max-width: 1440px) {
  :root {
    --horizontal-margin: 4rem;
  }
}

@media screen and (max-width: 960px) {
  :root {
    --horizontal-margin: 3rem;
  }
}

@media screen and (max-width: 736px) {
  :root {
    --horizontal-margin: 2rem;
  }
}

@media screen and (max-width: 640px) {
  :root {
    --horizontal-margin: 1rem;
  }
}

html,
body {
  height: 100%;
  font-size: 100%;
}

h1,
h2,
h3,
h4,
h5,
a,
p,
li,
label {
  margin: 0;
  color: var(--text-color);
}

body {
  background-color: var(--dark-bg-color);
  margin: 0;
  font-family: var(--main-font);
  display: flex;
  flex-direction: column;
}

.header {
  overflow: hidden;
  background-color: var(--light-bg-color);
  height: fit-content;
  border-bottom: 1px solid var(--light-border-color);
  flex: 0 0 auto;
}

.nav {
  margin: 0 var(--horizontal-margin) 0;
}

.header__link_disabled {
  color: var(--disabled-text-color);
  font-size: 1.8rem;
  margin-left: 1.1rem;
  text-decoration: none;
}

@media screen and (max-width: 960px) {
  .header__link_disabled {
    display: none;
  }
}

.header__link_disabled:hover {
  color: var(--text-color);
}

.header__logo {
  text-decoration: none;
  margin-left: 0;
  font-style: normal;
  font-size: 2.5rem;
  color: var(--text-color);
}

.button {
  display: inline-block;
  text-decoration: none;
  border-radius: 0.2em;
  color: var(--text-color);
}

.button-medium {
  font-size: 1.8rem;
}

.button-small {
  font-size: 0.8rem;
}

.add-bin-button {
  text-align: center;
  background-color: var(--header-button-color);
  border-radius: 1.7em;
  padding: 0.1em 0.1em;
  margin: 0.5rem 0 0.5rem 0.5rem;
}

.add-bin-button:hover {
  background-color: var(--header-hovered-button-color);
}

.add-bin-button__icon {
  color: var(--dark-bg-color);
  margin-left: 0.3em;
  padding-right: 0.07em;
}

.add-bin-button__text {
  margin-right: 0.3em;
}

.header__right {
  float: right;
  margin-top: 0.4rem;
}

.header__auth-button {
  margin: 0 0.3rem 0;
  padding: 0.07em 0.8em;
  text-align: center;
  background-color: var(--header-button-color);
  width: 4.47em;
  height: 1.4em;
}

.header__auth-button:hover {
  background-color: var(--header-hovered-button-color);
}

.header__user-name {
  display: inline-block;
  color: var(--text-color);
  font-size: 0.9rem;
  margin-right: 0.4rem;
}

.image {
  object-fit: cover;
}

.header__user-image {
  display: inline-block;
  vertical-align: middle;
  width: 2.6rem;
  height: 2.6rem;
  object-fit: cover;
  margin: 0.5rem 0.4rem 0.5rem 0;
}

.user-dropdown {
  display: inline-block;
  vertical-align: middle;
}

.user-dropdown__icon {
  color: var(--header-button-color);
  cursor: pointer;
  font-size: 1.8rem;
}

.user-dropdown:hover .user-dropdown__content {
  display: block;
}

.user-dropdown__content {
  border: 1px solid var(--border-color);
  display: none;
  margin-right: var(--horizontal-margin);
  right: 0;
  position: absolute;
  background-color: var(--dark-bg-color);
  min-width: 11.7rem;
}

.user-dropdown__content a {
  color: var(--text-color);
  font-size: 1.25rem;
  padding: 0.56rem 0.6rem;
  text-decoration: none;
  display: block;
}

.wrap {
  display: flex;
  flex-direction: row;
  flex: 1 0 auto;
}

main {
  width: 70%;
  margin-left: var(--horizontal-margin);
}

.title {
  text-decoration: none;
  color: var(--text-color);
  padding-top: 0.5em;
  font-size: 1rem;
}

.title_bold {
  font-weight: bold;
}

.form__title {
  font-size: 1.6rem;
}

.code-area {
  font-size: 1rem;
  border-radius: 0.2rem;
  font-family: var(--code-font);
  min-height: 28.75rem;
  width: 100%;
  box-sizing: border-box;
  resize: none;
  border: var(--light-bg-color);
  outline: none;
  background-color: var(--light-bg-color);
  color: var(--text-color);
}

.form__container {
  padding-top: 1em;
  display: grid;
  grid-template-columns: minmax(18.75rem, 28.125rem) minmax(18.75rem, 28.125rem);
  grid-row-gap: 1em;
}

.form__container-label {
  font-size: 1.4rem;
}

.form__container-input {
  color: var(--text-color);
  background-color: var(--light-bg-color);
  border: 1px solid var(--border-color);
  width: 12.3em;
  height: 1.5em;
  border-radius: 0.2em;
  font-size: 1.6rem;
}

.form__container-select {
  padding-left: 1.5em;
}

.form__container-checkbox {
  height: 1.4rem;
  width: 1.4rem;
  margin-right: 0.6rem;
  background-color: var(--light-bg-color);
}

.form .form__container .password-input {
  grid-column-start: 2;
  grid-column-end: 2;
}

.disabled {
  cursor: not-allowed;
  background-color: var(--dark-bg-color);
}

.form__container-button {
  cursor: pointer;
  text-align: center;
}

.form .form__container .button-submit {
  grid-column-start: 1;
  grid-column-end: 3;
  align-self: center;
  justify-self: center;
}

.form__container-button:hover {
  background-color: var(--dark-bg-color);
}

aside {
  height: fit-content;
  width: fit-content;
  margin-right: var(--horizontal-margin);
}

.aside-bins-list {
  list-style: none;
}

.aside-bins-list__title {
  font-size: 1.6rem;
}

.aside-bins-list__item {
  margin-top: 0.3rem;
}

.aside-bins-list__item-name {
  font-size: 1.4rem;
  text-decoration: none;
  color: var(--disabled-text-color);
}

.aside-bins-list__item-name:hover {
  color: var(--text-color);
}

.aside-bins-list__item-info {
  font-size: 0.9rem;
  text-decoration: none;
  color: var(--disabled-text-color);
}

@media screen and (max-width: 960px) {
  aside {
    display: none;
  }

  main {
    width: 100%;
    margin-right: var(--horizontal-margin);
  }

  html,
  body {
    font-size: 70%;
  }
}

@media screen and (max-width: 736px) {
  .form__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 3em;
  }

  .form .form__container .create-bin-submit {
    grid-column-start: 1;
    grid-column-end: 1;
  }
}

@media screen and (max-width: 640px) {
  .header__user-name {
    display: none;
  }

  html,
  body {
    font-size: 60%;
  }
}

@media screen and (max-width: 416px) {
  html,
  body {
    font-size: 45%;
  }
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  margin-top: 1.25rem;
  background-color: var(--light-bg-color);
  border-top: 1px solid var(--light-border-color);
  height: fit-content;
}

footer p {
  color: var(--text-color);
  font-size: 1.9rem;
  font-weight: bold;
}
