{
    "plugins": [
      ["prismjs", {
          "languages": ["javascript", "css", "markup", "clike", "csharp", "c", "cpp", "python"],
          "plugins": ["line-numbers"],
          "theme": "tomorrow",
          "css": true
      }]
    ]
  }